:root {
  --clr-primare-200: rgb(49, 49, 49);
  --clr-primary-300: #161a1d;
  --clr-primary-400: #ffc300;
  --clr-primary-500: #ffd60a;
  --clr-neutral-100: #fcf5f5;
  --clr-neutral-200: #f1f5f5;
  --clr-neutral-900: #003566;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent:  'Yanone Kaffeesatz', sans-serif; 
  --ff-title: 'Great Vibes', cursive;
  --ff-header:  'Yanone Kaffeesatz', sans-serif;

  --gradient: linear-gradient(to right, #642B73, #C6426E);


}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: var(--clr-neutral-100);
  
}

@media (min-width: 150em){
  body{
    font-size: 1.8em;

  }
}


a {
  color: var(--clr--primary-500);
}
/* Remove styling + general */ 
html,
body,
h1,
h2,
h3,
p{
  margin: 0;
}

h1,
h2,
h3{
font-family: var(--ff-accent);
font-weight: 900;
line-height: 1;
}

p{
  margin-bottom: 1em;
}

img{
  display: block;
  max-width: 100%;
  padding-bottom: 1em;
}

.text-center{
  text-align: center;
}

/* navigation */



header {
  background: var(--clr-neutral-200);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 2.5em;
  
}


/* gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(white, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--clr-primary-300);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--clr-neutral-200);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--clr-primary-300);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--clr-primary-500);
}
nav a:focus {
  color: var(--clr-primary-500);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

header h1{
  font-family: var(--ff-title);
  font-weight: 1.6;
  color: var(--clr-primary-400);
  padding-top: .2em;
}

@media screen and (min-width: 61em) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 1 / 2;
  }
  
  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--clr-primary-400);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

@media screen and (min-width: 150em) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(500px, 2fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--clr-primary-400);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

/*header */
header{
  padding-top: 0;
  padding-bottom: 0;
}
header p{
  font-style: oblique;
  color: var(--clr-neutral-200);
}
section{
  padding: 3rem 0;
}

.small{
  padding: 1rem 0;
}


/*footer */ 

footer{
  padding: 1rem 0;
}



footer h3{
font-family: var(--ff-header);
font-size: 18px;
margin-bottom: 1em;
margin-top: 1em;
display: inline-block;
border-bottom: 3px solid var(--clr-primary-500);
line-height: 1.6em;

}

footer p{
  color: var(--clr-neutral-200);
  font-family: var(--ff-primary);
  font-size: 17px;
  padding: 0;
  margin: 0;
}


footer a{
  text-decoration: none;
}

footer a:hover{
  color: var(--clr-primary-400);
}
footer a:focus{
  color: var(--clr-primary-400);
}


footer h3{
  color: var(--clr-primary-400);
}



/*responsive */

@media (min-width: 50em) {
  header{
    padding-top: 0;
    padding-bottom: 0;   
  }

  section{
    padding: 7rem 0;
  }

 
  
}
.split {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
 
}

  @media  only screen and (min-width: 40rem) {
    .split{
      flex-direction: row;
    }
    .split > * {
      flex-basis: 100%;
    }
    .split > * + * {
      margin-left: 2em;
    }
  }

  .split3 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
   
  }
  
    @media  only screen and (min-width: 40rem) {
      .split3{
        flex-direction: row;
      }
      .split3 > * {
        flex-basis: 100%;
      }
      .split3 > * + * {
        margin-left: 0;
      }
    }
  
 
  .split2 {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    position: relative;
    left: 0px;
  }
  
    @media  only screen and (min-width: 50rem) {
      .split{
        flex-direction: row;
      }
      .split > * {
        flex-basis: 100%;
      }
      .split > * + * {
        margin-left: 2em;
      }
    

    .split2 > form{
      position: relative;
      width: 50vh;
      left: 0px;
      top: 0px;
      overflow: hidden;
    }
  .split2 > .container1{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
  }
}

.container{
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

@media  only screen and (min-width: 150rem) {
  .container{
    width: min(90%, 100rem);
  }

}



.bg-footer{
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 10s infinite;
  font-family: var(--ff-header);
  line-height: 1.6em;
}

.bg-footer h5{
  padding: 0;
  margin: 0;
  color: var(--clr-primary-400)
}

.bg-light{
  color: var(--clr-primary-400);
  background: var(--clr-neutral-900);
}

.bg-light h1{
  font-family: var(--ff-header);
  color: var(--clr-neutral-100);
  margin-bottom: 1em;
}

.bg-light h2{
  font-family: var(--ff-header);
  color: var(--clr-primary-500);
  margin-bottom: 1em;
  }

  @media (max-width: 50em){
  .bg-light h2{ text-align: center;
  }
  }

.bg-light p{
  color: var(--clr-neutral-200);
}
  

.bg-medium{
  color: var(--clr-primary-400);
  background: var(--clr-neutral-200);
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(/img/header2.jpeg);
   min-height: 15em;
   align-self: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   align-items: center;
   justify-content: center;  
   position: relative;
   width: auto;
   margin-bottom: 0;
}



.bg-medium h1{
  font-family: var(--ff-header);
  color: var(--clr-neutral-100);
  margin-bottom: 1em;
  opacity: ;
  
}

.bg-medium h2{
  font-family: var(--ff-header);
  color: var(--clr-neutral-200);
  margin-bottom: 1em;
}

.bg-medium p{
  color: var(--clr-neutral-200);
}

.bg-medium1{
  color: var(--clr-primary-400);
  background: var(--clr-neutral-200);
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(/img/foodbg.webp);
   min-height: 15em;
   align-self: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   align-items: center;
   justify-content: center;  
   position: relative;
   width: auto;
   margin-bottom: 1em;
}


.bg-neutral{
  background: var(--clr-neutral-100); 
}

.bg-neutral h1{
  font-family: var(--ff-header);
  margin-bottom: 1em;
}


.bg-dark{
  color: var(--clr-neutral-100);
  background: var(--clr-primary-300);
}

.bg-dark h2{
  font-family: var(--ff-header);
  color: var(--clr-primary-500);
  margin-bottom: 1em;
}

.bg-dark h2{
  font-family: var(--ff-header);
  color: var(--clr-primary-500);
  margin-bottom: 1em;
}

.bg-neutral h2{
  color: var(--clr-primary-400);
  margin-bottom: 1em;
}

.card{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
  border-radius: 1px; 
  padding-left: 1em;
  padding-right: .5em;

  }
  


@media (max-width: 50em) {
  .card{
    margin-bottom: 1em;
  }

  header .card{
    padding: 1rem;
  }
}

.card img{
  width: 100%;
  padding-bottom: 0;
  justify-content: center;
}

.card-body{
  padding: .5rem;
}



.card-body h2{
  text-align: center;
  margin-bottom: 0.5em;
}

.card-body p{
  text-align: left;
  margin-top: .5em;
}

.card-body h5{
font-size: 0.5em;
text-align: center;
margin: 0;
color: var(--clr-primary-300);
}

.hr-card{
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(65, 65, 65, 0), rgba(133, 118, 118, 0.75), rgba(0, 0, 0, 0));
}



.button1 {
  background-color: var(--clr-neutral-900);
  border: none;
  color: var(--clr-neutral-100);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: .9em;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: auto;
  
}


.button1:hover {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.button1:active{
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}
/*.button1:visited{
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100); 
}*/
.button1:active{
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.button2 {
  background-color: var(--clr-primary-400);
  border: none;
  color: var(--clr-neutral-900);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: .9em;
  transition-duration: 0.4s;
  cursor: pointer;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: auto;
}


.button2:hover {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400);
}

.button2:active{
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400);
}

.button2:visited{
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400);
}
.button2:active{
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400);
}

.button3 {
  background-color: var(--clr-primary-400);
  border: none;
  color: var(--clr-neutral-900);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none; 
  font-size: .9em;
  transition-duration: 0.4s;
  cursor: pointer;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: auto;
}


.button3:hover {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400);
}

.button3:active{
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400);
}

.button3:visited{
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400);
}
.button3:active{
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400);
}



.highlight{
  color: var(--clr-primary-500);
}

/*quote*/

.blockquote-wrapper {
  display: flex;
  height: 30vh;
  padding: 0 1em;
}


.blockquote {
   position: relative;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   color: #ffffff;
   padding: 30px 0;
   width: 50%;
   min-width: 18rem;
   max-width: 40rem;
   z-index: 1;
   margin: 10px auto;
   align-self: center;
   border-top: solid 1px;
   border-bottom: solid 1px;
}


.blockquote h1 {
   position: relative;
   color: var(--clr-neutral-200);
   font-size: 40px;
   font-weight: 500;
   line-height: 1.1;
   margin: 0;   
}


.blockquote:after {
   position: absolute;
   content: "”";
   color: rgba(255, 255, 255, 1);
   font-size: 10rem;
   line-height: 0;
   bottom: -43px;
   right: 30px;
}


@media all and (min-width: 50rem) {
   .blockquote h1 {
       font-size: 60px;
  }

}


.blockquote h4 {
   position: relative;
   color: var(--clr-primary-500);
   font-size: 1rem;
   font-weight: normal;
   line-height: 1;
   margin: 0;
   padding-top: 20px;
   z-index: 1;
}

/* hero header css */

      
.hero-image {
  display: flex;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/chef.jpg);
  min-height: 15em;
  height: 100vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;  
  position: relative;
  width: auto;
  font-family: var(--ff-header);
  
}

.hero-image h1{
  position: absolute;
  font-family: var(--ff-title);
  color: var(--clr-primary-400);
  font-size: 3em;
}
.hero-image h2{
  font-family: var(--ff-title);
  position: absolute;
  top: 55%;
  color: var(--clr-primary-500);
}


.hero-image p{
  font-family: var(--ff-primary);
  position: absolute;
  top: 90%;
  color: var(--clr-primary-500);
  text-decoration: underline;
}





/* form css */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid var(--clr-primary-400);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: var(--clr-primare-200);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-200);
}

input[type=text], select, textarea::placeholder {
  color: var(--clr-neutral-200);
  font-size: .9em;
  font-family: var(--ff-primary);
}

input[type=submit] {
  background-color: var(--clr-primare-200);
  color: var(--clr-neutral-100);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: var(--ff-primary);
}

input[type=submit]:hover {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-300)
}



.bottom {
  position: absolute;
  top: 70vh;
  width: 90vw;
  left: 50px;
}



.social{
  font-size: 30px !important;
}


/*gallery*/ 

.fancyimg {
  margin: auto;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  filter: grayscale(30%);
  border: 1px dotted var(--clr-neutral-200)
  
}

.fancyimg:hover{
  margin: auto;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  filter: grayscale(0%);
}
.fancyimg:focus{
  margin: auto;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  filter: grayscale(0%);
}


@media (max-width: 50em){
  .fancyimg {
    margin-bottom: 1em;
    overflow: hidden;
  }
  .fancyimg:hover{
  margin-bottom: 1em;
  }
}


/* lightbox css */

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: var(--clr-primary-400);
  
  border-radius: 5px;
}

/* menu */

.menu{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  background-color: var(--clr-neutral-200);
  border-radius: 5px;    
  padding: 1em;
  color: var(--clr-primary-300);
  align-items: center;
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.1)  ; 
}

.menutitle{
  font-family: var(--ff-header);
  font-size: 1.2em;
  text-decoration:  underline overline var(--clr-primary-400);
}

.menuheader {
  font-size: .8em;
  text-decoration: underline var(--clr-primary-300);
  opacity: 0.5;
}
